.button {
  font-family: 'ralewaythin';
  background: #ff217c;
  color: #fff;
  box-shadow: none;
  border: none;
  padding: 15px 20px;
  height: 50px;
  font-size: 16px;
  line-height: 1.3;
  text-transform: uppercase;
  border-radius: 25px;
  transition: all .3s ease-out;
  outline: 0;
  margin-bottom: 0;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
}

.button > span {
  margin-right: 5px;
  font-family: 'ralewaybold';
}

.button:hover {
  color: #fff;
  background: #ff549a;
}
