.grid-item {
  background-color: white;
  position: relative;
  border-radius: 3px 3px 0 0;
}

.grid-item .grid-item--content {
  padding: 0 0 30px 0;
}

.grid.posts .grid-item:hover {
  cursor: pointer;
}

.grid-item .grid-item--ribbon {
  position: absolute;
  right: 0;
  background-color: #ff217c;
  top: 5px;
  padding: 2px 8px 2px 5px;
  color: white;
  font-family: 'ralewaybold';
}

.grid-item .grid-item--picture {
  height: 95px;
  overflow: hidden;
}

.grid-item .grid-item--picture > img{
  max-width: 100%;
  border-radius: 3px 3px 0 0;
}

.grid-item .grid-item--headline {
  color: #000000;
  padding: 8px 8px 0 8px;
  text-transform: uppercase;
  font-family: 'ralewayblack'
}

.grid-item .grid-item--description {
  color: #000000;
  padding: 5px 8px 0 8px;
  font-family: 'ralewaythin'
}

.grid-item .grid-item--duration{
  position: absolute;
  color: #c1c1c1;
  right: 5px;
  bottom: 5px;
  font-size: 0.75rem;
  font-family: 'ralewaylight';
}

.grid-item .grid-item--category {
  color: #ff217c;
  font-family: 'ralewaylight';
  padding: 0 8px 0 8px;
}

.grid-item .grid-item--price {
  font-family: 'ralewaybold';
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #1893b2;
  font-size: 2rem;
}

.grid-item .grid-item--price .grid-item--currency{
  font-family: 'ralewayregular';
  font-size: 1.8rem;
  top: 2px;
  display: inline-block;
  position: relative;
}

.grid-item .grid-item--overlay {
  position: absolute;
  background: rgba(0,0,0,.5);
  border-radius: 20px;
  color: #fff;
  padding: 2px 10px;
  font-family: 'ralewayregular';
  font-size: 0.8rem;
  bottom: 10px;
  left: 10px;
}

.grid.shows .grid-item.grid-item__highlighted .grid-item--content{
  background: url(../../assets/images/planetMuster.jpg);
  background-size: cover;
  border-color: transparent;
  color: #fff;
}

.grid.shows .grid-item.grid-item__highlighted .grid-item--content .grid-item--headline,
.grid.shows .grid-item.grid-item__highlighted .grid-item--content .grid-item--description,
.grid.shows .grid-item.grid-item__highlighted .grid-item--content .grid-item--duration {
  color: #ffffff;
}

.grid.posts .grid-item {
  border-radius: 3px;
  transition: all .3s ease-out;
  box-shadow: 0 3px 70px 30px rgba(0,0,0,.1);
}

.grid.posts .grid-item .grid-item--content {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  background: #fff;
  padding: 15px;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 0 0 0 transparent;
  transform: translate(0,10px);
  transition: all .3s cubic-bezier(0,0,0,1.01);
}

.grid.posts .grid-item .grid-item--content::before {
  position: absolute;
  left: 50%;
  top: -16px;
  border-style: solid;
  border-width: 0 10px 8px;
  border-color: transparent transparent #fff;
  transition: all .3s ease-out;
  transform: translate(0,8px);
  width: 0;
  height: 0;
  margin-left: -10px;
  content: '';
}

.grid.posts .grid-item:hover .grid-item--content {
  visibility: visible;
  opacity: 1;
  transform: translate(0,0);
  box-shadow: 0 3px 70px 30px rgba(0,0,0,.1);
}

.grid.posts .grid-item.grid-item__highlighted {
  grid-column: span 2;
}

.grid.posts .grid-item.grid-item__highlighted .grid-item--content {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  opacity: 1;
  visibility: visible;
  padding: 0;
  z-index:auto;
  transform: translate(0,0);
  background: none;
  margin-top: 25px;
}

.grid.posts .grid-item.grid-item__highlighted:hover .grid-item--content {
  box-shadow: none;
}

.grid.posts .grid-item .grid-item--picture {
  height: 165px;
  border-radius: 3px;
}

.grid.posts .grid-item.grid-item__highlighted .grid-item--picture {
  width: 50%;
  float: left;
}

.grid.posts .grid-item.grid-item__highlighted .grid-item--content {
  width: 50%;
  float: right;
}
