.space-item {
  position: absolute
}

.space-item > img {
  transform: translate(0, 0);
  width: 80%;
}

.space-item.light {
  animation: floating-item 2s ease alternate infinite;
  z-index: 1;
  right: 0px;
  margin-top: -80px;
}

.floating-item 100% {
    -webkit-transform: translate(0,.5em);
    -ms-transform: translate(0,.5em);
    transform: translate(0,.5em)
}

@-webkit-keyframes floating-item {
    100% {
        -webkit-transform: translate(0,.5em);
        -ms-transform: translate(0,.5em);
        transform: translate(0,.5em)
    }
}

@-moz-keyframes floating-item {
    100% {
        -webkit-transform: translate(0,.5em);
        -ms-transform: translate(0,.5em);
        transform: translate(0,.5em)
    }
}

@-ms-keyframes floating-item {
    100% {
        -webkit-transform: translate(0,.5em);
        -ms-transform: translate(0,.5em);
        transform: translate(0,.5em)
    }
}

@-o-keyframes floating-item {
    100% {
        -webkit-transform: translate(0,.5em);
        -ms-transform: translate(0,.5em);
        transform: translate(0,.5em)
    }
}

@keyframes floating-item {
    100% {
        -webkit-transform: translate(0,.5em);
        -ms-transform: translate(0,.5em);
        transform: translate(0,.5em)
    }
}

.floatingItemFarAway 100% {
    -webkit-transform: translate(0,.3em);
    -ms-transform: translate(0,.3em);
    transform: translate(0,.3em)
}

@-webkit-keyframes floatingItemFarAway {
    100% {
        -webkit-transform: translate(0,.3em);
        -ms-transform: translate(0,.3em);
        transform: translate(0,.3em)
    }
}

@-moz-keyframes floatingItemFarAway {
    100% {
        -webkit-transform: translate(0,.3em);
        -ms-transform: translate(0,.3em);
        transform: translate(0,.3em)
    }
}

@-ms-keyframes floatingItemFarAway {
    100% {
        -webkit-transform: translate(0,.3em);
        -ms-transform: translate(0,.3em);
        transform: translate(0,.3em)
    }
}

@-o-keyframes floatingItemFarAway {
    100% {
        -webkit-transform: translate(0,.3em);
        -ms-transform: translate(0,.3em);
        transform: translate(0,.3em)
    }
}

@keyframes floatingItemFarAway {
    100% {
        -webkit-transform: translate(0,.3em);
        -ms-transform: translate(0,.3em);
        transform: translate(0,.3em)
    }
}
