.search {
  grid-column-start: search-start;
  grid-column-end: search-end;
  justify-self: end;
  align-self: top;
  position: relative;
}

.search input {
  width: 40vw;
  margin-top: 20px;
  height: 30px;
  font-family: 'ralewayregular';
  font-size: 1.1rem;
  padding: 5px 10px;
  background: #fff;
  border:none;
  border-bottom: 2px solid #c1c1c1;
  text-transform: uppercase;
}

.search input:focus {
  outline: 0;
}

.search input[type="submit"] {
  border: none;
  cursor: pointer;
  background:transparent;
  position: absolute;
  background-image: url('../../assets/images/google.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  right: 0;
  top:5px;
}
