.rbtv-newtab {
  display: grid;
  grid-template-rows: [header] 170px [main] auto [end-of-page];
}

main.content {
  grid-row-start: main;
  grid-row-end: end-of-page;
}

.livestream {
  margin: 50px auto 20px auto;
  display: table;
}
