body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

body:after {
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -2;
}

body:after {
  background: url('./assets/images/bg.jpg')no-repeat #0e1a27;
}

*, :after, :before {
  margin:0;
  padding:0;
}

@font-face {
    font-family: 'ralewayblack';
    src: url('./assets/fonts/raleway-black-webfont.woff2') format('woff2'),
         url('./assets/fonts/raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybold';
    src: url('./assets/fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('./assets/fonts/raleway-extrabold-webfont.woff2') format('woff2'),
         url('./assets/fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayextralight';
    src: url('./assets/fonts/raleway-extralight-webfont.woff2') format('woff2'),
         url('./assets/fonts/raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight';
    src: url('./assets/fonts/raleway-light-webfont.woff2') format('woff2'),
         url('./assets/fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium';
    src: url('./assets/fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('./assets/fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('./assets/fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('./assets/fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('./assets/fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaythin';
    src: url('./assets/fonts/raleway-thin-webfont.woff2') format('woff2'),
         url('./assets/fonts/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
